<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @group.电影名称 %></h2>
  <p><%= @group.电影类型 %></p>
  <p><%= @group.上映年份 %></p>
</div>
